body{
    overflow: hidden;
}

#topNavBar{
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    min-height: 70px;
    width:150px;
    text-align: center;
    padding-top:20px;
    position: relative;
    margin-top: auto;
margin-bottom: auto;
    vertical-align: middle;
}

@media (max-width: 991px) { 
     .nav-pills{
        padding-top:30px;
    }
 }

 #footer{
     min-height:30px;
     height: 50px;
     padding:0px;
     border-top:3px solid palevioletred;
 }

 .footerText{
     text-align: center;
     width:100%;
     font-size:12px;
     top:0px;
 }

 .profileImg{
    width:200px;
    clear:both;
    float:left;
    padding-right:15px;
    padding-bottom: 15px;
}
.loremIpsum{
    text-align: left;
    margin-top:10px;
    line-height: 20px;
    font-size:12px;

}

.bg-pink{
    background:palevioletred;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: palevioletred;

}

.pink .active a,
.pink .active a:hover {
    background: palevioletred;
    color:white
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: palevioletred;
    color: #fff;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: palevioletred;
}

a{
    color:black;
}
a:active{
    color:white;
}