

#topNavBar{
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    min-height: 70px;
    width:150px;
    text-align: center;
    padding-top:20px;
    position: relative;
    margin-top: auto;
margin-bottom: auto;
    vertical-align: middle;
}

@media (max-width: 991px) { 
     .nav-pills{
        padding-top:30px;
    }
 }

 #footer{
     min-height:30px;
     height: 50px;
     padding:0px;
     border-top:3px solid palevioletred;
 }

 .footerText{
     text-align: center;
     width:100%;
     font-size:12px;
     top:0px;
 }

 .portfolioImg{
    width:200px;
    clear:both;
    float:left;
    padding-right:15px;
    padding-bottom: 15px;
}
.loremIpsum{
    text-align: left;
    margin-top:10px;
    line-height: 20px;
    font-size:12px;

}

.bg-pink{
    background:palevioletred;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: palevioletred;

}

.pink .active a,
.pink .active a:hover {
    background: palevioletred;
    color:white
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background: palevioletred;
    color: #fff;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: palevioletred;
}

a{
    color:black;
}
a:active{
    color:white;
}

.bg-pink-submit {
    padding: 10px 30px;
    width:120px;
    height:50px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4aaaa5+0,e5e5e5+100 */
background: palevioletred; /* Old browsers */
	margin: 0px auto 24px auto;
	transition: all 0.5s;
	position: relative;
    border: 0 none;
    margin-top:15px;
  
  }
#submitButton{

}
 
  
  .bg-pink-submit:hover{
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+0,4aaaa5+100 */
background: rgb(232, 232, 232); /* Old browsers */
    background-position: 20%;
    color:palevioletred;


}



 body{
     height:900px;
 }

 .card-title{
     width:100%;
     height:25%;
     top:90px;
     padding-top:5px;
     font-size:16px;
     position: relative;
     text-align: center;
     background: palevioletred;
 }

 .card-img-overlay{
     padding:0rem;
 }

 .card-title-button{
     text-decoration: none;
     color:white;
 }

 .card-title-button:hover{
    text-decoration: none;
    color:white;
}

.card{
    width:180px;
}


hr{
    border:0.5px solid grey;
}

.activeSubmit{
    background:red;
}